#about{
    /* margin: 2rem 0; */
    padding: 10rem 0 0 ;
}
#about h1{
    text-align: center;
    font-family: "Poppins" Cursive ;
    font-size: 3rem ;
    color: var(--blue);
}
.aboutcontainer{
    display: flex;
    padding: 2rem 5rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-between ;
}
.aboutdesc{
    margin: 2rem 4rem;
    padding: 4rem;
    border: 2px solid var(--orange);
    border-radius: 5rem;
    /* width: 60%; */
}
.aboutdesc>h2{
    font-family:  "Poppins" Cursive;
    font-size: 2.5rem;
}
.aboutdesc>p{
    font-family: "Roboto" Cursive;
    font-size: 1.5rem ;
}
.techstack{
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 30%; */
}
.stack{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 4rem;
    /* border-bottom: 1px solid var(--orange); */
}
.stack>div{
    background-color: rgba(209, 209, 209, 0.5);
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 1rem;
    width: auto; */
}
.techstack>h2{
    margin-bottom: 2rem;
}
.stack>div>p{
    font-size: 1.5rem;
}
.stack>div a{
    font-size: 2rem ;
}

.social{
    /* background-color: #dfdfdf; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.social a{
    font-size: 3rem;
    margin: 1rem;
    cursor: pointer;
    transition: ease-in-out 0.25s;
    color: rgb(23, 23, 23);

    /* color: var(--blue); */

}
.social a:hover{
    color: var(--orange);
}
@media screen and (min-width: 800px) and (max-width: 1400px) {
    #about h1{
        font-size: 2rem;
    }
    .aboutdesc>h2{
        font-size: 2rem;
    }
    .aboutdesc>p{
        font-size: 1.2rem;
    }
    .stack{
        width: 100%;
        padding-bottom: 2rem;
    }
    .stack>div{
        margin: 0.5rem;
        padding: 0.5rem;
      
    }
    .aboutdesc{
        margin: 2rem;
        padding: 1rem;
        border-radius: 2rem;
    }
    .aboutcontainer{
        padding: 0;
    }
    .techstack>h2{
       font-size: 2rem;
    }
    .stack>div>p{
        font-size: 1.35rem;
    }
    .stack>div a{
        font-size: 1.5rem ;
    }
}

@media screen and (max-width: 800px) {
    #about h1{
        font-size: 2rem;
    }
    .aboutcontainer{
        padding: 0;
     
    }
    .aboutdesc{
        margin: 2rem;
        padding: 1rem;
        border-radius: 2rem;
        /* width: 60%; */
    }
    .aboutdesc>h2{
        font-size: 1.5rem;
    }
    .aboutdesc>p{
        font-size: 1rem;
    }
    .techstack{
        margin: 1rem;
        
    }
    .stack{
        width: 100%;
        padding-bottom: 2rem;
    }
    .stack>div{
        margin: 0.5rem;
        padding: 0.5rem;
      
    }
    .techstack>h2{
       font-size: 1.5rem;
    }
    .stack>div>p{
        font-size: 1rem;
    }
    .stack>div a{
        font-size: 1.5rem ;
    }
    
    .social a{
        font-size: 1.5rem;
        margin: 0.5rem;
    
    }
    .social>h3{
        font-size: 1.3rem;
    }
}