#home {
    /* background-color: blueviolet; */
    /* background-color: var(--blue); */
    /* background-image: linear-gradient(to bottom right, var(--blue), var(--yellow), var(--orange)); */
    background:
        linear-gradient(to bottom right, var(--blue), var(--yellow), var(--orange));

    flex-direction: column;

    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    height: 100vmin;
    /* min-height: 60rem; */
    /* max-height: 100vh; */
    position: relative;
    font-family: "Poppins", Cursive;
}

.innerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 4rem 6rem;
    color: var(--blue);

}

.innerHome h1 {
    font-size: 4rem;
}

.innerHome p {
    font-size: 1.5rem;
    margin: 0;
}

.abtbtn {
    margin: 2rem;
    background-color: var(--blue);
    border-radius: 3rem;
    color: white;
    font-family: "Roboto", Cursive;
    font-size: 1.35rem;
    height: 4rem;
    width: 11rem;
    transition: ease-in-out 0.25s;
    cursor: pointer;
}

.abtbtn:hover {
    background-color: var(--orange);
    color: rgb(23, 23, 23);
}

@media screen and (max-width: 700px) {
    #home {
        height: 100vmax;
        background:
            linear-gradient(to bottom right, var(--blue), var(--yellow), var(--orange));
        /* align-items: flex-start; */
        /* justify-content: flex-start; */

    }

    .innerHome h1 {
        font-size: 3rem;
        /* margin: 2rem 0; */
        text-align: center;

    }

    .innerHome p {
        font-size: 1rem;
        margin: 0;
        text-align: center;
    }

    .abtbtn {
        width: 7rem;
        height: 2rem;
        font-size: 0.8rem;
        margin: 1rem;
    }
}